.banner__imagen{
    background: url('/imagenes/portada.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 15rem;
    padding-left: 5rem;
}