.menu__item{
    list-style: none;
    background-color: crimson;
    color: black;
    display: flex;
    margin-right: 4%; 
    
}
.menu__item :hover{
    color:darkgoldenrod;
    list-style: none;
}