.cabeza{
    align-items: center;
    background: aliceblue;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cabeza img{
    width: 80px;
    background-color: green;
    border-color: green;
    border-radius: 90%;
}